Testing/src/
Testing/SCRIPTS/
Testing/compiled_tmp/
Testing/PapyrusFormatter.exe
Testing/sample.psc
Testing/sample.psc
Tests/x64/
x64/
.vs/
PapyrusFormatter/x64/
PapyrusFormatter/Debug/
PapyrusFormatter/parser.output
PapyrusFormatter/ans.psc
PapyrusFormatter/test.psc
PapyrusFormatter/parser.tab.h
PapyrusFormatter/parser.tab.cpp
PapyrusFormatter/lexer.flex.cpp